# ama je file nu name lakhsu e file ignore thase etle k add  --a karsu tyare aa files add nai thai
*.log 
# * no meaning em 6 k .log extension vadi badhi j file ne ignore karvani em
foronly/
# foronly/ no meaning k foronly derectory ni andar j kai 6 e badhu ingore kari nakhvanu (foronly folder ni andar nu badhu j)
a.txt